*~
*.o
*.lo
*.la
depcomp
*.m4
Makefile
Makefile.in
libtool
missing
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
.deps/
.libs
lib/includes/nghttp2/nghttp2ver.h
lib/libnghttp2.pc
src/libnghttp2_asio.pc
ltmain.sh
stamp-h1
.deps/
INSTALL
.DS_STORE
compile
test-driver
.dirstamp
doc/index.rst
doc/nghttp2.h.rst
doc/nghttp2ver.h.rst
doc/package_README.rst
doc/tutorial-client.rst
doc/tutorial-server.rst
doc/nghttpx-howto.rst
doc/h2load-howto.rst
doc/tutorial-hpack.rst
doc/python-apiref.rst
doc/building-android-binary.rst
doc/asio_http2.h.rst
doc/libnghttp2_asio.rst
python/setup.py
python/dist
python/MANIFEST
